<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">    
      <a class="particles-icon" href="http://www.linkedin.com/in/omer-yel">{% include svg/linkedin.svg %}</a>
      <a class="particles-icon" href="./assets/OmerYelCV.pdf">{% include svg/cv-circled.svg %}</a>
      <a class="particles-icon" href="https://github.com/omeryel">{% include svg/github.svg %}</a>
      <a class="particles-icon" href="mailto:omeryel54@gmail.com">{% include svg/mail.svg %}</a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
    <!-- https://github.com/piazzai/cvless -->
  </div>
</div>
